# Node modules
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env

# Vite build files
dist/

# Logs
*.log

# System files
.DS_Store
terraform/.terraform
terraform/terraform.tfvars
terraform/terraform.tfstate
terraform/terraform.tfstate.backup